.section-1 {
	height: 12vh;
}
.logo img {
	height: 12vh;
}
.menu ul {
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	align-items: center;
}
.menu ul a{
	color: #646566;
	/*font-weight: bold;*/
}
.section-2 {
	height: 80vh;
	background-color: #8d8d8e;
	/*background-image: : url("img/banner.jpg");*/
}
.baner-content h1, p {
	color: #ffffff;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20vh; 
}
.baner-content p a{
	padding: 10px 30px;
	background-color: #8faad6;
	border-color: #879fc6;
}
.class-4 {
    margin-bottom: 15px;
}
.section-7-8 {
	height: 100vh;
}
/*div .button {
	text-align: center;
	background: linear-gradient(#ededed, #82abed);
	
}*/
